.middle {
    position: relative;
    margin-left: 200px;
    margin-top: 300px;

    display: grid;
    row-gap: 50px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;

}
.mid1, .mid2, .mid3, .mid4 {
    height: 300px;
    width: 700px;
}
.mid1 {
   
}
.mid2 {
    
}
.mid3 {
    
}
.mid4 {
    
}
.title1, .title2, .title3, .title4   {
    font-weight: 700;
    font-size: 25px;
}